.fullYearPicker,.fullYearPicker table{
	font-size:12px;
	 -moz-user-select:none;
      -webkit-user-select:none;
      user-select:none;    
	}
    .fullYearPicker div.year{text-align:center}
    .fullYearPicker div.year a{margin-right:30px}
    .fullYearPicker div.year a.next{margin-right:0;margin-left:30px}
    .fullYearPicker table{border: 1px solid #e9eaec;margin-top:8px;float:left;margin-right:10px;box-shadow:0 0 5px #c9d1df;}
    .fullYearPicker table.right{margin-right:0}
    .fullYearPicker table th.head{text-align:center;line-height:13px;cursor:default;background:#fff;color:#1e7baf;}
    .fullYearPicker table td{background:#fff;text-align:center;line-height:13px;cursor:pointer}
    .fullYearPicker table th{color:#2B84B5;}
    .fullYearPicker table td.weekend,.fullYearPicker table th.weekend{}
    .fullYearPicker table td.disabled{color: #2b2929;/* text-decoration:line-through; */cursor:not-allowed;}
    .fullYearPicker table td.selected{background:#2B84B5;color:#ffffff;}
    .fullYearPicker table td.empty{cursor:default}
    .fullYearPicker br{clear:both}
	.year{
		display:none;
	}

.arrow_box{animation: glow 800ms ease-out infinite alternate; }
@keyframes glow {
    0% {
        border-color:red;
        box-shadow: 0 0 5px red, inset 0 0 5px red, 0 1px red;
    }
    100% {
        border-color: red;
        box-shadow: 0 0 20px red, inset 0 0 10px red, 0 1px 0 red;
    }
}

.year{
    display:block;
}
.picker{
    padding-left: 20px;
}
.fullYearPicker table td{
    line-height: 20px;
    width: 20px;
    background: #e1f0fe;
    border: 1px solid #ffffff;
}
.fullYearPicker table th {
    color: #333;
    background: #e9eaec !important;
}
.fullYearPicker table td.disabled{
    color: #c7baba;
    background: #ffffff;
    border: 0;
}
.fullYearPicker table td.empty{
    background: #ffffff;
    border: 0;
}
.year button{
    border: none;
    background: #fff;
    margin-right: -20px;
}
.year .next button{
    margin-left: -20px;
}
.year button:hover{
    font-size: 14px;
}
.year button:active{
    color: #278cd2;
}
